.box {
  border: solid 2px ;
  width: 500px;
  height: 250px;
  text-align: center;
  
}
.title {
  font-size: 32px;
  font-weight: bold;
}
.result {
  font-size: 24px;
  font-weight: 600;
}
.resultImg img{
  width: 150px;
  height: 150px;
}
.boxContainer {
  display: flex;
  justify-content: space-evenly;
  
}
.buttonContiner {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.win{
  border-color: green;
  color: green;
  border-width: 10px;
}
.lose{
  border-color: red;
  color: red;
  border-width: 10px;
}
.tie{
  border-color: black;
  color: black;
  border-width: 10px;
}